@import url(https://db.onlinewebfonts.com/c/c891e94039740e4a24a9f53324fd91be?family=NHaasGroteskDSPro-65Md);
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* In your CSS file */
.custom-select {
  width: 100px; /* Adjust the width as needed */
  display: inline-block; /* Display elements inline to stay in the same row */
  margin-right: 10px; /* Add some spacing between the elements */
}

/* .custom-button {
  width: 150px; /* Adjust the width as needed */
/* display: inline-block; Display elements inline to stay in the same row */
/* } */

.custom-slide {
  /* width: 100vw; */
  max-height: 50vh;
}

/* .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 35%;
} */
/* .carousel-caption2 {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 5%;
} */
/* .custom-image {
  width: 100vw;
  max-height: 60vh;
  object-fit: fill;
} */
.slide-image {
  filter: brightness(30%);
}
.search {
  position: absolute;
  z-index: 10;
  width: 70%;
  left: 15%;
  bottom: 1.25em;
}
